#svg-countdown-clock-container {
  text-align: center;
  position: relative;

  .background-circle {
    fill: none;
    stroke: black;
  }

  .mark {
    stroke: black;
    stroke-width: 1px;
  }

  .time-arc {
    fill: rgba(255, 140, 0, 0.626);
  }

  .needle {
    stroke: black;
    stroke-width: 2px;
  }

  .centre-circle {
    fill: black;
  }

  .digital-text-container {
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .full-arc {
    fill: rgba(172, 172, 172, 0.26);
  }

  .digital-arc {
    fill: white;
  }
}
